{{!-- JUST FOR TESTING --}}

<div>
    homepage handlebars
</div>
{{#each posts as |post|}}
    <div>
        <a href="/posts/{{post.post_id}}">{{post.post_title}}</a>
    </div>
{{/each}}
</div>

{{!-- JUST FOR TESTING --}}

{{! Path: routes/homepage.js }}