<form class="col s4 signup-form">
      <div class="row">
        <div class="input-field col s12">
          <input id="userName-signup" type="text" class="validate">
          <label for="UserName">User Name</label>
        </div>
        <div class="input-field col s12">
          <input id="firstName-signup" type="text" class="validate">
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s12">
          <input id="lastName-signup" type="text" class="validate">
          <label for="lastName">Last Name</label>
        </div>
         <div class="input-field col s12">
          <input id="email-signup" type="email" class="validate">
          <label for="email">Email</label>
        </div>
		  <div class="input-field col s12">
          <input id="password-signup" type="password" class="validate">
          <label for="password">Password</label>
          </div>
		  <div class="input-field col s12">
			  <button type="submit" class="waves-effect waves-light btn">Submit</button>
        </div>
      </div>
    </form>

    <script src="/js/users.js"></script>