<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/sign.css">
  <title>New User</title>
</head>
<body>
  <div>
    
  </div>

  <div class="signBox">
    <form class="col s4">
      <div class="row">
        <div class="input-field col s12">
          <h1>Sign Up</h1>
          <input id="FirstName" type="text" class="validate">
          <label for="FirstName">User Name</label>
        </div>
        <div class="input-field col s12">
          <input id="FirstName" type="text" class="validate">
          <label for="FirstName">First Name</label>
        </div>
        <div class="input-field col s12">
          <input id="LastName" type="text" class="validate">
          <label for="LastName">Last Name</label>
        </div>
        <div class="input-field col s12">
          <input id="Email" type="email" class="validate">
          <label for="Email">Email</label>
        </div>
      <div class="input-field col s12">
          <input id="Password" type="password" class="validate">
          <label for="Password">Password</label>
          </div>
      <div class="input-field col s12">
        <button type="submit" class="waves-effect waves-light btn">Submit</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>