/* general */
body {
    margin: 0;
}
:root {
    --light-grey: rgb(208, 208, 208);
}

/* nav */
.navBg {
    background-color: rgb(0, 180, 220);
    height: 100px;
    padding: 5px;
}
.navBtn {
    font-size: 16px;
}
.logoImg {
    width: 90px;
    height: auto;
    padding-bottom: 10px;
}
#searchBtn {
    width: 28px;
    border-radius: 30px;
    height: 28px;
    text-align: center;
}
/* end nav */

/* post section */
.mainBorder {
    margin: 10px;
    padding: 5px;
    background-color: rgb(46, 65, 114);
}
.topPostBar {
    text-align: center;
}
.topPostBorder {
}
.postBox {
    margin: 10px;
    border: solid black;
    background-color: white;
}
.postBoxText {
    margin: 9px;
}
.postImg{
    margin: 10px;
    border: solid black;
    background-color: white;
}
.arrowIcon{
    border: solid 2px black;
    border-radius: 30px;
    width: 17px;
    height: 17px;
    text-align: center;
}
.postSection {
    margin: 3px;
    background-color: var(--light-grey);
    padding-top: 10px;
}
.btnUp {
    border: none; 
    cursor: pointer; 
    background-color: var(--light-grey);
    margin: 5px;
  }
  .btnUp:hover {
    color: green;
  }
  .btnDown {
    border: none; 
    cursor: pointer; 
    text-align: center;
    background-color: var(--light-grey);
  }
  .btnDown:hover {
    color: red;
  }
  @media screen and (max-width: 2400px) {
    .mainBorder {
        width: 60%;
        margin-left: 20%;
    }
    .postSection {
        width: 99.4%;
        margin-top: 15px;
    }
   }

/* login/signup page */
.signInUpBox {
    background-color: var(--light-grey);
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
.signCenter {
    text-align: center;
}
.signLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 95%;
    position: absolute;
    z-index: 10;
}
.signBoxMargin {
    margin-left: 10px;
}
.abstractImg {
    filter: brightness(120%) saturate(210%);
}
.signIn {
    margin-top: 8px;
}
.signUp {
    margin-top: 10px;
}
.signUpFont {
    font-size: 18px;
}

@media screen and (max-width: 2400px) {
 .signLogo {
    width: 40%;
    display: block;
    margin: 0 auto;
    left: 30%;
 }
 .signInUpBox {
    height: 400px;
 }
}

@media screen and (max-width: 780px) {
    .signLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 95%;
        position: absolute;
        z-index: 10;
        left: 0;
    }
}



